.bi{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 400ms;

    
}
.bi:hover{
    transform: scale(1.2);
}
body{
    margin: 0;
    padding: 0;
    
    
    
}
.icons{
    display: flex;

    flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 30px;

}
.main{
    padding: 25px;
    z-index: 5;
    width: 85%;
    margin-left: 7%;
    
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    cursor: pointer;
}

aside{
    
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 8%;

}
section{
    
    background-color: black;
    width: 100%;
    height: auto;
   
    
    
    
    
    
    
    display: flex;

}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;

}
nav ul li{
    margin-right: 50px;
}
nav ul li a{
    
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 100ms;
}
nav ul li a:hover{
    border-bottom: 2px solid white;
    padding: 8px 0;
    color: white;
    
}
.col-lg-7{
    margin-top: 80px;
    margin-left: -20px;
}
.col-lg-7 h1{
    margin-top: 15%;
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.col-lg-5 img{
    transition: 2s;
}
.col-lg-5 img:hover{
    transform:scale(1.1) ;
}
.col-lg-7 h4{
    margin-top: 5%;
    font-size: 22px;
    margin-left: 35px;
    line-height: 30px;
    
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

span{
    color: red;
}
.h5{
    position: absolute;
    font-weight: 700;
    left: 120px;
    color: white;
    transform:rotate(-90deg) ;
    letter-spacing: 2px;
    text-decoration: line-through;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bi{
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 60px;
    font-size: 40px;
    display: none;


}
.light{
    background-color: #485461;
    background: linear-gradient(315deg, #cad2db 0%, #7b8792 74%);

}

.dar{
    background-color: black;
    

}
.lig{
    background-color: #485461;
    background: linear-gradient(315deg, #cad2db 0%, #7b8792 74%);;
    

}
.black{
    color: black;

}
.white{
    color: white;
}
.about{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.def{
    line-height: 40px;

}
.img-fluid{
    margin-top: 280px;
    margin-left: 40px;
    border-radius: 5px;
}
.checked{
    display: none;
}
#check{
    display: none;
}
.fndr{
       
           
            padding: 40px;
            background-color: transparent;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

}
.display{
    display: none;
}
.fnd{

           
    padding: 40px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.images{
    width: 270px;
    transition: 800ms;
    filter: grayscale(100%);
    margin-top: 120px;
}
.images:hover{
    filter: none;
    transform:translate(0px,15px);
    
}


.lightt{
    background-color: transparent;
   
}
footer{
    border-radius: 10px;
    margin-top: 100px;
    background-color: black;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   margin-bottom: 100px;
   
   
}
.btn{
    color: white;
    border-color: white;
    padding: 10px 65px;
    transition: 800ms;
}
.btn:hover{
    transform: scale(1.1);
    color: white;
}
.soc{
    
    width: 60%;
    justify-content: space-around;
    display: flex;
    margin-top: 30px;
    
}
.soc a {
    margin-top: 40px;
    margin-left: 20px;
    transition: 200ms;
   
}
.soc a i{
    font-size: 30px;
}
.soc a:hover{
    transform: scale(1.1);
}
.contact{
    width: 60%;
}
form input[type="text"]{
    width: 100%;
   
    border: none;
    color: white;
    border-bottom: solid 2px red;
}
form input[type="text"]:focus{
    color: white;
    
    background-color: #2b3036;
    
}
label { color: white;
  }
.lbl{
   color: red;

      }

#textarea{
    width: 100%;
    background: #485461;
    border: none;
    color: red;
    font-size: 15px;
    font-weight: 600;

}
.noire{
    background-color: black;
}
.blanc{
    background-color: #a3aab1;
   
}
#op{
    color: white;
   text-align: center;
   margin-top: 350px;
   color: white;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}







@media (max-width:1000px){
    .h5{
        left: 30px;
    }
    .img-fluid{
        margin-left: 0;
    }
    .reyna{
        display: none;
    }
    
    
}
@media (max-width:750px) {
    .images:hover{
        transform: scale(1.1);
    }
    nav ul{
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: auto;
        top: -5px;
        left: -120%;
        background-color: #a3aab1;
        z-index: 5;
        transition: 800ms;
    }
    .checked{
        z-index: 999999;
        font-size: 40px;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0px;
        right: 20px;
    }
    nav ul li{
        margin: 30px;
    }
    nav ul li a{
        border-bottom: 1px solid white;
        padding: 20px 0;
    }
    #check:checked~nav ul{
        left: 0;
    
}
.logo img{
    width: 200%;
   
}
aside{
    width: 10%;
}
.img-fluid{
    margin-top: 150px;
}
.contact{
    width: 100%;
}


}
